.reloadMessage >div>div>div>div:nth-child(2){
  width: 100%;
}

.collapsibleWrapper > div > div:first-child{
  margin-right: 8px;
}

.listItemBlock{
  height: 160px;
}

.detailSummaryColumn{
  width: 32%;
  height: 180px;
}